@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
:root {
  --bg-red:#BF344D;
  --bg-white: #F2EBDF;
  --bg-yellow: #D9BC2B;
  --bg-orange: #F28D35;
  --bg-orangelight: #f1ab6d;
  --bg-redlight: #F24B4B;
}

body {
  margin-top: 4.43em;
  height: calc(100vh - 31.25em);
  box-sizing: border-box;
  background-color: var(--bg-white);
}

.font {
  font-family: 'Dancing Script', cursive;
}
tbody {
  display: block;
  height: 400px;
  overflow: auto;
  scroll-behavior: smooth;
}
thead,
tbody tr {
  display: table;
  width: 100%;
}
tbody tr {
  padding: 20px 0;
}
thead {
  width: calc(
    100% - 1em
  ); /* scrollbar is average 1em/16px width, remove it from thead width */
}

.bg-orange {
  background-color: var(--bg-orange) !important;
}
.btn-orange {
  color: var(--bg-white);
  background-color: var(--bg-orange);
  border-color: var(--bg-orange);
}

.btn-outline-orange {
  color: var(--bg-orange);
  border-color: var(--bg-orange);
}
.btn-orange:hover,
.btn-outline-orange:hover {
  color: var(--bg-white);
  background-color: var(--bg-orange);
  border-color: var(--bg-orange);
}
.btn-check:focus+.btn, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(241, 171, 109,.25);
}
.bg-red {
  background-color: var(--bg-red);
}
.bg-white {
  background-color: var(--bg-white) !important;
}
.is-white {
  color: var(--bg-white) !important;
}
.is-orange {
  color: var(--bg-orange)
}
.bg-redlight {
  background-color: var(--bg-redlight);
}
.bg-yellow {
  background-color: var(--bg-yellow);
}
.bg-orangelight {
  background-color: var(--bg-orangelight);
}
a {
  color: var(--bg-redlight);
}
a:hover,
a:focus {
  color: var(--bg-red);
}
.btn-primary {
  color: #fff;
  background-color: var(--bg-orange);
  border-color: var(--bg-orange);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  background-color: var(--bg-orangelight);
  border-color: var(--bg-orangelight);
}
.form-control:focus {
  border-color: var(--bg-orangelight);
  box-shadow: 0 0 0 0.25rem rgb(241, 171, 109,.25);
}
.navbar-nav .nav-link {
  background: transparent;
  border-color: transparent;
}
.navbar-nav .nav-link:active, .navbar-nav .nav-link:focus {
  background: transparent;
  border-color: transparent;
}
button.nav-link.is-white:focus,
button.nav-link.is-white:active {
  outline: none !important;
}

/*loader*/
img.App-logo.ml-4.is-orangelight {
  border-radius: 50%;
}